<div class="sign-in-form">
	<h1>Sign In</h1>
	<form action="home#index">
		<input type="text" id="email" placeholder="email" />
		<input type="password" id="password" placeholder="password" />
		<button type="submit" id="sign-in">Sign In</button>
		<button type="submit" id="create-account">Create an Account</button>
</div>