@import 'var'
@import font-awesome

body
	margin: 0

#header
	position: fixed
	display: flex
	width: 100%
	margin: 0 0 10px 0 
	top: 0
	

#aiming-for
	width: 50%
	padding: 10px 0
	color: #fff !important
	background: $blue
		
	h2
		color: #fff
	.aim-header
		margin: 0 0 0 20px
		display: flex
		span
			text-transform: capitalize
	
	#aim-icon
		margin: 0 20px 0 0
		flex: 1
		text-align: right
	
	.select-row
		display: flex
		margin: 0
		h2
			margin: auto
			text-align: center
			flex: 1
			font-size: 1em

	.selected-num
		background: #fff
		color: $blue

#board
	width: 100%
	div
		text-align: center

#svg
	display: flex
svg
	margin: 0 auto
	
	rect
		fill: $blue
		
	.no-hit text
		fill: #fff
		text-anchor: middle
	
	path, circle
		stroke: black
		stroke-width: 2
		
	.number text
		fill: #fff
		font-size: 1.7em
		text-anchor: middle
		
	#hoverCircle
		fill: $orange
		stroke: none
	
	.aiming-for
		fill: yellow !important
	
	.shot-marker
		fill: purple
		stroke: none
	
	.red 
		fill: red
		
	.green
		fill: green
	
	.white
		fill: #f6f6f6
	
	.black
		fill: #000

	
#no-hit
	margin: 0 auto
	
#progress, .shots
	width: 50%
	display: flex
	margin: 20px auto 0
	
	div 
		flex: 1
		text-align: center
		
.shots
	h1
		text-transform: uppercase
	