<%= javascript_include_tag params[:controller] %>
<%= stylesheet_link_tag params[:controller] %>


<div id="aiming-for">Aiming for Triple 20</div>

<div class="shots">
	<div class="shot1">
		<p>First Shot</p>
		<h1>--</h1>
	</div>
	<div class="shot2">
		<p>Second Shot</p>
		<h1>--</h1>
	</div>
	<div class="shot3">
		<p>Third Shot</p>
		<h1>--</h1>
	</div>
</div>

<div id="board">
	<div id="svg">
		
	</div>
</div>

<div id="progress">
	<div>
		<h3>130</h3>
		<p>HITS</p>
	</div>
	<div>
		<h3>470</h3>
		<p>MISSES</p>
	</div>
	<div>
		<h3>25.3%</h3>
		<p>ACCURACY</p>
	</div>
</div>